@import "./reset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/normal";

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font: var(--font-m);
  color: var(--primary-color);
  background: var(--bg-color);
}

.main {
  flex-grow: 1;
  display: flex;
  height: 0;
}

.page {
  flex-grow: 1;
}