.Sidebar {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 250px;
  width: auto;
  height: 100%;
  padding: 20px;
  background: var(--bg-secondary-color);
}

.sSwitchers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: auto 0 0;
}

.sNavRoutes {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.Sidebar_minified {
  width: 160px;

  & .sSwitchers {
    flex-direction: column;
  }
}

.collapseBtn {
  position: absolute;
  bottom: 40px;
  left: 100%;
}
