.Navbar {
  width: 100%;
  min-height: 50px;
  background: var(--bg-secondary-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 20px;
}

.nControls {
  display: flex;
  align-items: center;
}